*{
    padding: 0;
    margin: 0;
}

.heading{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    margin-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    
    /* border-bottom: 2px solid gray; */
}
.sign-box{

    /* border: 2px solid black; */
    /* width: 100vw;*/
    height:100vh; 
    display: flex;
    justify-content: center;
}

.inner-box{
    width: 500px;
    height: 650px;
    border: 2px solid black;
    box-shadow: 10px 10px 10px 10px grey; 
    margin-top: 20px;
    flex-direction: column;
    border-radius: 5px;
    background-color: #191E47;

}
.contents{
    /* border: 2px solid black; */
    width: 100%;
    height: 580px;
    /* display: flex; */
   
    flex-direction: column;
 
    
    
}

.sign-name{
    margin-left: 50px;
    width: 75%;
    height: 50px;
    margin-top: 40px;
    cursor: text;
    
}

.sign-name input{
    width: 99%;
    height: 99%;
    font-size: 20px;
    padding-left: 20px;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.signup-btn{
    height:50px;
    width: 80%;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 179, 231);
    color: white;
    border-radius: 5px;
}

#errSname, #errSemail, #errSphone, #errSpass, #errScpass{
    position: absolute;
    margin-left: 50px;
    font-size: 20px;
}

.login-box{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.log-inner{
    border: 2px solid black;
    width: 500px;
    height: 500px;
    background-color: #191E47;
    box-shadow: 10px 10px 10px 10px grey; 

}

#registerHere{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: right;
    padding-right: 70px;
    text-decoration: underline;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: none;
    margin-top: 10px;
    text-shadow: 2px 2px black;
    cursor: pointer;
}
#registerHere:hover{
    color: red;
    
}
#loginHere{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: right;
    padding-right: 70px;
    margin-top: 20px;
    font-weight: bold;
    background-color: transparent;
    color: white;
    text-shadow: 2px 2px black;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

#loginHere:hover{
    color: red;
}

